@import "_variables";
@import "_mixins";

.course-intro {
  padding-top: 20px;
  margin-bottom: -300px;
  &__container {
    display: flex;
    justify-content: space-between;
  }
  &__left {
    width: 45%;
    margin-right: 30px;
  }
  &__header-left {
    position: relative;
    max-width: 548px;
    margin-top: 167px;
    margin-bottom: 10px;
    font-size: 54px;
    line-height: 69px;
  }
  &__header-span {
    color: $colorPurple;
  }
  &__descr-left {
    margin-bottom: 30px;
    max-width: 462px;
    font-size: 18px;
    line-height: 28px;
  }
  &__btns {
    display: flex;
  }
  &__btn:not(:last-child) {
    margin-right: 30px;
  }
  &__btn-descr {
    opacity: 0.7;
  }
  &__right {
    width: 52%;
  }
  &__img-container {
    margin-bottom: 50px;
  }
  &__header-right {
    font-size: 36px;
    line-height: 46px;
    margin-bottom: 10px;
  }
  &__descr-right {
    font-size: 18px;
    line-height: 25px;
  }
  &__steps-icons {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  &__steps-icons-content {
    display: flex;
    justify-content: space-between;
    position: relative;
    // max-width: 634px;
  }
  &__steps-icons-line {
    position: absolute;
    top: 50%;
    left: 55px;
    width: 90%;
    z-index: -1;
  }

  &__steps-icons-img {
    width: 56px;
    height: 56px;
    z-index: 1;
    transition-property: transform;
    border-radius: 50%;
    @include transition;
  }
  &__steps-icons-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 200px;
    min-width: 150px;
  }
  &__steps-icons-span {
    text-align: center;
    font-size: 14px;
    line-height: 18px;
    color: $colorBlack;
    transition: font-size 0.3s ease-in-out;
    height: 36px
  }
  &__steps-icons-number {
    @include text(25px, 30px, 800, $colorPurple);
    transition: font-size 0.3s ease-in-out;
  }

  &__swiper {
    margin-bottom: 30px;
  }
  &__slide {
    padding-left: 70px;
    padding-right: 70px;
  }
  &__swiper &__next-btn,
  &__swiper &__prev-btn {
    // top: 60%;
    width: 32px;
  }
  &__btn-svg {
    padding: 5px;
    width: 32px;
    height: 32px;
    color: rgba($color: $colorPurple, $alpha: 0.7);
    border-radius: 50%;
    border: 3px solid rgba($color: $colorPurple, $alpha: 0.7);
    transition-property: border, color, background-color;
    @include transition;
  }
}

.header-bubles {
  position: relative;
}

.header-bubles .buble {
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: transparent;
  border-radius: 50%;

  pointer-events: none;
  box-shadow: inset 0 0 10px rgba($color: $colorPurple, $alpha: 0.5);
  animation: animate 10s linear infinite;
}

@keyframes animate {
  0% {
    transform: translateY(0%);
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    transform: translateY(-1200%);
    opacity: 0;
  }
}

@media (min-width: 1024px) {
  .course-intro {
    &__steps-icons-link:hover &__steps-icons-img {
      transform: scale(1.5);
      background-color: $colorPurple;

      border: 2px solid $colorPurpleActive;
      box-shadow: 0px 0px 20px 5px rgba(178, 45, 246, 0.6);
    }
    &__steps-icons-link:hover &__steps-icons-number {
      font-size: 30px;
    }
    &__steps-icons-link:hover &__steps-icons-span {
      color: $colorPurpleActive;
      font-size: 16px;
      line-height: 16px;
      font-weight: 700;
    }
    &__next-btn:hover &__btn-svg,
    &__prev-btn:hover &__btn-svg {
      color: $colorWhite;
      background-color: $colorPurple;
    }
  }
}

//active, focus
.course-intro {
  &__steps-icons-link:active &__steps-icons-img {
    transform: scale(1.5);
    background-color: $colorPurple;

    border: 2px solid $colorPurpleActive;
    box-shadow: 0px 0px 20px 5px rgba(178, 45, 246, 0.6);
  }
  &__steps-icons-link:active &__steps-icons-span {
    color: $colorPurpleActive;
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
  }
  &__steps-icons-link:focus-visible &__steps-icons-span {
    color: $colorPurpleActive;
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
    outline: none;
  }
  &__steps-icons-link:active &__steps-icons-number {
    font-size: 30px;
  }
  &__steps-icons-link:focus-visible &__steps-icons-number {
    font-size: 30px;
  }
  &__steps-icons-link:focus-visible &__steps-icons-img {
    transform: scale(1.5);
    background-color: $colorPurple;
    border: 2px solid $colorPurpleActive;
    box-shadow: 0px 0px 20px 5px rgba(178, 45, 246, 0.6);
  }
  &__steps-icons-link:focus-visible {
    outline: none;
  }


  &__next-btn:active &__btn-svg,
  &__prev-btn:active &__btn-svg {
    color: $colorWhite;
    background-color: $colorPurpleActive;
    border: 3px solid $colorPurpleActive;
  }
}

@media (max-width: 1300px) {
  .course-intro {
    &__header-left {
      font-size: 36px;
      line-height: 46px;
    }
    &__descr-left,
    &__descr-right {
      font-size: 16px;
      line-height: 23px;
    }
    &__header-right {
      font-size: 30px;
      line-height: 38px;
    }
  }
}




@media (max-width: 1024px) {
  .course-intro {
    &__steps-icons-img {
      width: 49px;
      height: 49px;
    }
    &__steps-icons-link {
      min-width: min-content;
    }
    &__steps-icons-span {
      font-size: 10px;
      line-height: 14px;
    }
    &__steps-icons-line {
      width: 97%;
      left: 0;
    }

    &__swiper &__next-btn,
    &__swiper &__prev-btn {
      top: 45%;
    }
    &__btn {
      padding: 20px 20px;
    }
  }
}

@media (max-width: 768px) {
  .course-intro {
    &__swiper &__next-btn,
    &__swiper &__prev-btn {
      top: 65%;
    }
    &__container {
      flex-direction: column;
    }
    &__left {
      width: 100%;
      margin-right: 0;
      margin-bottom: 30px;
    }
    &__header-left {
      max-width: none;
      margin-top: 50px;
      font-size: 28px;
      line-height: 36px;
      text-align: center;
    }
    &__descr-left {
      max-width: none;
      font-size: 15px;
      line-height: 22px;
      text-align: center;
    }
    &__right {
      width: 100%;
    }
    &__header-right {
      font-size: 24px;
      line-height: 30px;
    }
    &__btns {
      justify-content: center;
    }
    &__img-container {
      text-align: center;
    }

  }
}

@media (max-width: 500px) {
  .course-intro {

    &__steps-icons-content {
      flex-direction: column;
    }
    &__steps-icons-img {
      width: 40px;
      height: 40px;
    }
    &__steps-icons-link {
      flex-direction: row-reverse;
      height: auto;
      margin-bottom: 15px;
    }
    &__steps-icons-span {
      height: auto;
      width: 140px;
      text-align: start;
    }
    &__steps-icons-img {
      order: -1;
    }
    &__steps-icons-line {
      display: none;
    }
  }
}
